<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>测试</h1>
	 
	
					id ====> 1 <br/>
					name ====> 测试 <br/>
					sex ====> 男 <br/>
					age ====> 14 <br/>
		
	
					id ====> 2 <br/>
					name ====> 测试 <br/>
					sex ====> 男 <br/>
					age ====> 14 <br/>
		
	
					id ====> 3 <br/>
					name ====> 测试 <br/>
					sex ====> 男 <br/>
					age ====> 14 <br/>
		
	
					id ====> 6 <br/>
					name ====> 测试 <br/>
					sex ====> 男 <br/>
					age ====> 14 <br/>
		
	</body>
</html>